<form (ngSubmit)="onSubmit()" #newProductForm="ngForm">
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="model.name" name="name"
              #name="ngModel">
    </div>
    <div class="col-md-4">
      <label for="price">Product Price</label>
      <input type="text" class="form-control" id="price"
              required
              [(ngModel)]="model.price" name="price"
              #price="ngModel">
    </div>
    <div class="col-md-6">
      <label for="file">Product Image</label>
      <input type="file" class="form-control" id="file"
              [(ngModel)]="model.file" name="file"
              #file="ngModel" style="border:none;">
    </div>
    <div class="col-md-2" style="padding-top:32px;">
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </div>
  </div>
</form>
