<div class="container">
  <ul class="list-group" *ngIf="!product">
    <a *ngFor="let prod of products" [routerLink]="['/product', prod._id]">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-1">
            <img class="img-fluid" *ngIf="prod.productImage" src="{{apiURL + prod.productImage}}" />
          </div>
          <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                    {{ prod.name }}
                </div>
                <div class="col-md-2 offset-md-4">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    {{ prod.price }}
                </div>
              </div>
          </div>
        </div>
      </li>
    </a>
  </ul>
</div>
